<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>详细信息</h1>
  {{each list}}
  <div>
    <span>序号</span>
    <span>{{$value.Mno}}</span>
  </div>
  <div>
    <span>名称</span>
    <span>{{$value.Mname}}</span>
  </div>
  <div>
    <span>性别</span>
    <span>{{$value.Msex}}</span>
  </div>
  <div>
    <span>年龄</span>
    <span>{{$value.Mage}}</span>
  </div>
  <div>
    <span>爱好</span>
    <span>{{$value.Mhobby}}</span>
  </div>
  {{/each}}
</body>

</html>