<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
</head>

<body style="margin:16px;">
  <form>
    <div class="form-group">
      <label for="name">姓名</label>
      <input type="text" class="form-control" id="name">
    </div>
    <div class="form-group">
      <label for="gender">性别</label>
      <select class="form-control" id="gender">
        <option>男</option>
        <option>女</option>
      </select>
    </div>
    <div class="form-group">
      <label for="age">年龄</label>
      <input type="number" class="form-control" id="age" />
    </div>
    <div class="form-group">
      <label for="hobby">爱好</label>
      <input type="textarea" class="form-control" id="hobby" />
    </div>
    <div class="form-group">
      <label for="img">图片</label>
      <input type="file" class="form-control-file" id="img">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>

</html>